.charts-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.charts-container .top-charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.charts-container .bottom-charts {
  display: flex;
  justify-content: space-between;
}

.canvasjs-chart-credit {
  visibility: hidden;
}
