.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 50px 0px 50px;
  box-sizing: border-box;
}

.cards-container .card {
  background-color: #edf1f5;
  user-select: none;
  border: none;
  width: 20%;
  border-radius: 3px;
  display: flex;

  flex-direction: column;
}

.cards-container .card .top-card {
  font-weight: 400;
  padding: 10px 0 10px 5px;
  font-size: 18px;
  box-sizing: border-box;
  border-bottom: 2px solid #dfe1e3;
}

.cards-container .card .bottom-card {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.chart {
  height: 350px;
  width: 270px;
}
