.input-container {
  display: flex;
  border: 1px solid #bababb;
  border-radius: 50px;
  align-items: center;
  height: 35px;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.input-container input::placeholder {
  color: #bababb;
}

.input-container .add-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2434;
  color: aliceblue;
  font-size: 16px;
  padding: 5px 15px 5px 13px;
  border: none;
  border-radius: 50px;
}

.input-container .add-btn span {
  margin-right: 5px;
}

.subtasks-list {
  overflow-y: auto;
  height: 60vh;
  padding: 0 5px 0 3px;
}

.input-container .subtasks-list .subtask {
  border: 1px solid #bababb;
  height: 50px;
  display: flex;
  flex-direction: row;
}
/* ************************************** */
/* ************************************** */
/**** CHECK BOX STYLE
/* ************************************** */
/* ************************************** */
.checkbox-text-container.checked {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #d6d5d5;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

.checkbox-text-container.unchecked {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #d6d5d5;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #b3b1b1;

  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  background-color: white;
  box-sizing: border-box;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid transparent;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox-text-container.checked .custom-checkbox {
  background-color: #6161ff; /* Mauve */
  border: none;
  border-radius: 3px;
}

.checkbox-text-container.checked .custom-checkbox::after {
  border-color: white;
  opacity: 1;
}

.text {
  font-size: 16px;
  transition: color 0.2s;
  user-select: none;
}

.checkbox-text-container.checked .text {
  text-decoration: line-through;
  color: #666;
}
/***************************************/
/***************************************/
/***************************************/
/********     SCROLL BAR   *************/
/***************************************/
/***************************************/
/***************************************/
.subtasks-list::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

.subtasks-list::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

.subtasks-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  cursor: pointer;
}

.close-icon {
  margin-left: auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
